<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/main.css">

<title>{{ .Title }}</title>
<link rel="canonical" href="{{ .Permalink }}">
<link rel="alternate" hreflang="ja" href="{{ .Permalink }}" />
<meta name="twitter:card" content="summary">
{{ with .Site.Params.twitter }}
<meta name="twitter:site" content="{{ . }}" />
<meta name="twitter:creator" content="{{ . }}" />
{{ end }}
<meta name="twitter:title" content="{{ .Title }} &middot; {{ .Site.Title }}">
<meta name="twitter:description" content="{{ if .IsNode }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ else }}{{ with .Description }}{{ . }}{{ end }}{{ end }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ .Title }} &middot; {{ .Site.Title }}">
<meta property="og:description" content="{{ if .IsNode }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ else }}{{ with .Description }}{{ . }}{{ end }}{{ end }}">
<meta property="og:image" content="{{ .Site.BaseURL }}/image/goldstine-lab-logo.png" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}/index.xml" />
<link rel="icon" href="/image/favicon.ico" />

{{ with .Site.Params.google_ad }}
<meta name="msvalidate.01" content="{{ . }}" />
{{ end }}

{{ with .Site.Params.google_ad }}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "{{ . }}",
    enable_page_level_ads: true
  });
</script>
{{ end }}